* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  height: 100%;
 }
 

/*  NAVBAR  */

.nav-bar {
  height: 100px;
  padding: 0 20px;
  background: transparent;
}

.nav-bar img{
  float: left;
  width: 230px;
  position: absolute;
  margin-top: -50px;
}

.menu {
  text-align: center;
  line-height: 100px;
}

.menu a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  letter-spacing: 1.5px;
  transition: 0.4s;
}

.menu a:hover {
  color: white;
  background: #fd5c63;
  padding: 10px;
  transition: 0.5s ease;
}

@media screen and (max-width: 900px) {
  .menu {
    text-align: end;
  }
  .menu a:nth-child(1) {
    display: none;
    position: absolute;
  }
  .menu a:nth-child(2) {
    display: none;
    position: absolute;
  }
  .menu a:nth-child(3) {
    display: none;
    position: absolute;
  }
  
}


/* --- HEADER --- */

header {
  margin-top: 90px;
  padding: 8px;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header p {
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
  padding: 12px;
  border: #000000;
  color: white;
  background: #fd5c63;
  border-radius: 15px;
}

header a:hover {
  transition: 0.6s;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(253,92,99,0.83);
  -moz-box-shadow: 0px 0px 16px 1px rgba(253,92,99,0.83);
  box-shadow: 0px 0px 16px 1px rgba(253,92,99,0.83);
}

header img {
  width: 100%;
  margin-top: 50px;
}

.left-header {
  padding-bottom: 40px;
  padding: 12px;
  text-align: center;
}

@media screen and (min-width: 400px){
  header {
    text-align: center;
  }
}

@media screen and (min-width: 700px){
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 130px;
  }
  header h1 {
    font-size: 2.5rem;
  }
  .right-header {
    padding-bottom: 40px;
  }
  .left-header {
    text-align: start;
    padding: 15px;
  }
}

@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 3.5rem;
  }
  header {
    margin-top: 150px;
  }
}


/* --- SERVICES --- */

#services {
  padding: 40px 20px 40px 20px;
  background: #fd5c63;
}

.services {
  display: grid;
  grid-template-areas: 
     "box box box box";
  grid-gap: 30px;
  text-align: center;
}

.services p {
  margin: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.service {
  padding-top: 20px;
}

.service img {
  max-width: 60px;
  border-radius: 50%;
}

.service:hover img {
  background: white;
  border-radius: 20%;
  transition: 0.7s ease-in-out;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

#services h2 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

#services h3 {
  color: white;
  font-size: 0.8rem;
}

@media screen and (max-width: 976px) {
  .services {
    grid-template-areas: 
       "box box"
       "box box";
  }
}

@media screen and (max-width: 420px) {
  .services {
    grid-template-areas: 
       "box" 
       "box"
       "box" 
       "box";
  }
}

/* --- PORTFOLIO --- */

#portfolio {
  background: white;
  padding-top: 40px;
}

#portfolio h2 {
  color: #fd5c63;
  font-size: 2rem;
  text-transform: uppercase;
}

#portfolio h3{
  color: #fd5c63;
  font-size: 0.8rem;
}

#ptf-element {
  display: grid;
  place-items: center;
} 

.ptf-header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  text-align: center;
  padding: 40px;
  /* color: #fd5c63; */
}

.ptf-header p {
  text-align: center;
  font-size: 1.5rem;
}

.container-ptf {
  -webkit-box-shadow: 10px 9px 67px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 9px 67px -24px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 67px -24px rgba(0,0,0,0.75);
}

.image-ptf {
  width: 100%;
  text-align: center;
}

.txt-ptf {
  padding: 30px;
  background: whitesmoke;
  text-align: center;
}

.txt-ptf h4 {
  color: #fd5c63;
  font-size: 1.2rem;
}

.txt-ptf p {
  padding: 5px;
}

.txt-ptf a i {
  color: black;
  font-size: 30px;
  margin-top: 15px;
} 

.txt-ptf a i:hover {
  color: #fd5c63;
  transition: 0.5s ease-in-out;
} 

@media screen and (min-width: 900px) {
  .container-ptf {
    margin: 100px;
  }
} 

/* MORE BTN */

.more-btn {
  background: #fd5c63;
  padding: 40px;
}

.more-btn a h2 {
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.more-btn a h2 i {
  font-size: 1.3rem;
}

.more-btn a h2:hover {
  font-size: 40px;
  transition: 0.5s;
}

.more-btn a {
  cursor: pointer;
  text-decoration: none;
}

/* --- PORTFOLIO PAGE --- */

.red-row {
  padding: 5px;
  margin-top: 15px;
  background: #fd5c63;
}

.nav-ptf {
  height: 150px;
  padding: 0 20px;
  border-bottom: 5px solid #fd5c63;
}

.nav-ptf img{
  float: left;
  width: 230px;
  position: absolute;
  margin-top: -50px;
}

.menu-secondary {
  text-align: end;
  padding: 20px;
}

.menu-secondary a {
  color: #000000;
  text-decoration: none;
}

.menu-secondary a:hover {
  color: #fd5c63;
  transition: 0.5s ease;
}

.menu-secondary a ion-icon {
  font-size: 40px;
}

.border {
  border: 3px solid #fd5c63;
  margin: 0 30px 0 0;
}

.project-desc {
  padding: 80px 20px 40px 20px;;
}

.project-desc h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.project-desc p {
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-desc a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.project-desc ion-icon {
  color: #fd5c63;
  font-size: 1.5rem;
}

.img-project {
  text-align: center;
}

.img-project img{
  max-width: 400px;
  max-height: 559px;
  padding-bottom: 20px;
}

@media screen and (min-width: 630px) {
  .project-desc {
    padding: 80px 70px;
  }
  .img-project img{
    max-width: 750px;
  }
  .border {
    margin: 0 100px 0 0;
  }
}

@media screen and (min-width: 1000px) {
  .project-desc {
    padding: 140px 200px 70px 200px;
  }
}

@media screen and (min-width: 1400px) {
  .project-desc {
    padding: 140px 450px 70px 450px;
  }
}

/* --- CONTACTS --- */

#contacts {
  padding: 40px 0 0 0 ;
}

#contacts h2 {
  color: #fd5c63;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 15px;
}

#contacts h3 {
  color: #fd5c63;
  font-size: 0.8rem;
}

#contacts .title img {
  width: 150px;
}

.email {
  text-align: center;
  padding-bottom: 30px;
}

.email p {
  font-size: 2rem;
  color: #646464;
}

.email p span {
  font-size: 2.5rem;
  color: #fd5c63;
}

@media screen and (max-width: 525px) {
  .email p span {
    font-size: 1.5rem;
  }
}

/* --- PRIVACY POLICY --- */

.nav-privacy {
  height: 150px;
  padding: 0 20px;
  background: whitesmoke;
}

.nav-privacy img{
  float: left;
  width: 230px;
  position: absolute;
  margin-top: -50px;
}

.menu-privacy {
  text-align: end;
  padding: 20px;
}

.menu-privacy a {
  color: #000000;
  text-decoration: none;
}

.menu-privacy a:hover {
  color: #fd5c63;
  transition: 0.5s ease;
}

.menu-privacy a ion-icon {
  font-size: 40px;
}

.txt-privacy {
  padding: 20px;
}

.txt-privacy h1 {
  font-size: 2rem;
  color: #fd5c63;
  text-transform: uppercase;
}

.txt-privacy p {
  padding: 20px 0 20px 0;
}

@media screen and (min-width: 800px) {
  .txt-privacy {
    padding: 100px;
  }
}


/* --- FOOTER --- */

.space-footer {
  padding: 40px;
}

footer {
  background: #fd5c63;
  padding: 10px; 
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.left-footer img {
  max-width: 200px;
}

.right-footer a {
  color: white;
}

.right-footer {
  padding: 15px;
}

.right-footer h3 {
  text-transform: uppercase;
}

.central-footer {
  text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .left-footer {
    padding-right: 140px;
  }
  .right-footer {
    padding-left: 140px;
    text-align: end;
  }
}


